:root {
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* --------------------------HEADER-------------------------- */

.header {
  background-color: gray;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--btn-color);
}

/* --------------------------HERO-------------------------- */

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: #303030;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-bottom-text {
  color: #9da4bd;
}

/* -------------------------ABOUT-------------------------- */

.about-top-text {
  color: #303030;
}
.about-title {
  color: var(--second-title-color);
}

.about-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  color: #555555;
}

.about-btn {
  color: var(--second-btn-color);
}

/* -------------------------PRICES-------------------------- */

.prices {
  background-color: #303030;
}
.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  color: var(--main-title-color);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--main-btn-color);
}

/* -------------------------BENEFITS-------------------------- */

.benefits-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  color: #303030;
}

.benefits-title {
  color: var(--second-title-color);
}
.benefits-bottom-text {
  color: #555555;
}

/* -------------------------MASTERS-------------------------- */

.masters-top-text {
  color: #303030;
}

.masters-title {
  color: var(--second-title-color);
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* -------------------------GALLERY-------------------------- */

.gallery-top-text {
  color: #303030;
}

/* -------------------------ONLINE-------------------------- */

.online {
  background-color: #303030;
}
.online-title {
  color: var(--main-title-color);
}

/* -------------------------contacts-------------------------- */

.contacts {
  background-color: #303030;
}

.contacts-title {
  color: var(--main-title-color);
}

.contacts-address {
  font-style: normal;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* -------------------------FOOTER-------------------------- */

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
