:root {
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --typical-margin: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.top-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 21px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 30px;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* --------------------------HEADER-------------------------- */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo {
  margin-right: 70px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 300ms ease;
  position: relative;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-link.current:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: -48px;
}
.header-connect {
  margin-left: auto;
}

.header-btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}

/* --------------------------HERO-------------------------- */

.hero .container {
  display: flex;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms ease;
}

.hero-soc {
  width: 90px;
  display: flex;
  align-items: flex-end;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
  align-items: center;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.hero-item + .hero-item {
  margin-left: 40px;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: #303030;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 96px 206px 96px;
  flex-grow: 1;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: center;
}

.hero-title::before {
  content: "\1F923";
  width: 40px;
  font-size: 18px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-title::after {
  content: "";
  background-color: #ff6c00;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

.hero-bottom-text {
  color: #9da4bd;
  max-width: 400px;
}

/* -------------------------ABOUT-------------------------- */

.about {
  padding-top: 169px;
  padding-bottom: 121px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item + .about-item {
  margin-left: 30px;
}

.about-top-text {
  color: #303030;
  margin-bottom: var(--typical-margin);
}
.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}

.about-bottom-text {
  margin-bottom: var(--typical-margin);
  color: #555555;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: var(--second-btn-color);
}

/* -------------------------PRICES-------------------------- */

.prices {
  background-color: #111319;
  background-image: url(../img/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
  max-width: 1280px;
  margin: 0 auto;
}
.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin: var(--typical-margin);
}
.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
}

.prices-list {
  padding: 30px 40px;
  flex-grow: 1;
}

.prices-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-item-text:first-child {
  order: -1;
}

.prices-item {
  margin-bottom: var(--typical-margin);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

/* -------------------------BENEFITS-------------------------- */

.benefits {
  padding-top: 143px;
  padding-bottom: 137px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
}

.benefits-item-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-color);
  vertical-align: top;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  margin-bottom: var(--typical-margin);
  color: #303030;
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}
.benefits-bottom-text {
  color: #555555;
}

/* -------------------------MASTERS-------------------------- */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-top-text {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.masters-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  margin-left: -30px;
}

/* .masters-item:not(:last-child) {
  margin-right: 30px;
} */

.masters-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.masters-item:hover .masters-top-text {
  transform: translateY(0);
}

.masters-top-wrap {
  position: relative;
  overflow: hidden;
}

.masters-top-text {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(255, 106, 0, 0.604);
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 300ms linear;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  margin-top: 30px;
}

.masters-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.masters-soc-list {
  display: flex;
  justify-content: center;
}

.masters-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.masters-soc-item:last-child {
  margin-right: 0;
}

.masters-soc-link {
  width: 100%;
  height: 100%;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.masters-soc-link:hover,
.masters-soc-link:focus {
  background-color: teal;
  fill: chocolate;
}

/* .masters-soc-link:hover,
.masters-soc-link:focus {
  background-color: teal;
}

.masters-soc-link:hover .masters-soc-icon,
.masters-soc-link:focus .masters-soc-icon {
  fill: chocolate;
} */

/* -------------------------GALLERY-------------------------- */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-top-text {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.gallery-item {
  flex-basis: calc(100% / 4 - 30px);
  margin: 15px;
}

.contact-wrap {
  background-color: #191c26;
  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px);
  max-width: 1280px;
  margin: 0 auto;
}

.contact-wrap .container {
  display: flex;
}

/* -------------------------ONLINE-------------------------- */

.online {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% + 15px);
  padding-right: 40px;
}
.online-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.online-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  position: relative;
  width: 265px;
}

.online-input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 300ms linear;
  color: rgba(190, 193, 202, 0.8);
}

.online-input:focus {
  border-color: #ffffff;
}

.online-input:focus + .online-label,
.online-input:not(:placeholder-shown) + .online-label {
  color: #ffffff;
  transform: translateY(-100%);
}

.online-mess:focus + .online-label,
.online-mess:not(:placeholder-shown) + .online-label {
  color: #ffffff;
  transform: translateY(-100%);
}

.online-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  transition: color 300ms linear, transform 300ms linear;
}

.text-field {
  width: 100%;
  position: relative;
  margin-top: 44px;
}

.online-mess {
  width: 100%;
  height: 76px;
  border: none;
  resize: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 300ms linear;
  color: rgba(190, 193, 202, 0.8);
  margin-bottom: 44px;
}

.online-btn {
  color: var(--main-btn-color);
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff6c00;
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

/* -------------------------contacts-------------------------- */

.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-item + .contacts-item {
  margin-top: var(--typical-margin);
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--typical-margin);
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* -------------------------FOOTER-------------------------- */

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.476);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.modal {
  width: 500px;
  min-height: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms;
  padding: 40px;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;

  padding-left: 30px;
  color: teal;
  outline: none;
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-input:not(:placeholder-shown):not(:focus):valid {
  background-color: rgba(0, 128, 0, 0.255);
}

.modal-input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(255, 0, 0, 0.266);
}

/* .modal-input:not(:placeholder-shown) {
  border-color: #714eef;
} */

.modal-input::placeholder {
  color: #303030;
  font-size: 12px;
}

.modal-label {
  font-size: 12px;
  color: #9da4bd;
  margin-bottom: 5px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
}

.check-text {
  color: #555555;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

/* ------------------Перекключатель---------------------------- */

/* .check-text::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50px;
  margin-right: 5px;
  transition: background-color 300ms linear;
}

.modal-check:checked + .check-text::before {
  background-color: #c4eecd;
}

.check-text::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 8px;
  height: 30px;
  border-radius: 50px;
  background-color: #b5b7bf;
  left: 11px;
  transform: rotate(-45deg);
  transition: transform 300ms linear, background-color 300ms linear;
}

.modal-check:checked + .check-text::after {
  transform: rotate(45deg);
  background-color: #ffffff;
  border: 1px solid #999999;
} */

/* ---------------------Повзунок----------------------------- */

/* .check-text::before {
  content: "";
  width: 40px;
  height: 10px;
  border: 1px solid #999999;
  border-radius: 50px;
  margin-right: 5px;
  transition: background-color 300ms linear;
}

.check-text::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #b5b7bf;
  left: 3px;
  transition: transform 300ms linear, background-color 300ms linear;
}

.modal-check:checked + .check-text::after {
  transform: translate(16px);
  background-color: #ffffff;
  border: 1px solid #999999;
}

.modal-check:checked + .check-text::before {
  background-color: #c4eecd;
} */

/* -----------------Через спрайт----------------------- */

/* .check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #090b13;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
} */

/* --------------Через Бефор-------------------------- */

.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #090b13;
  border-radius: 3px;
  margin-right: 5px;
}

.modal-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../img/check.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-check:focus + .check-text::before {
  border-color: var(--accent-color);
}
