@import "./utils/vars";
@import "./base/reset";
@import "./base/common";
@import "./utils/hidden";
@import "./utils/placeholders";
@import "./utils/mixins";

@import "./components/container";
@import "./components/top-text";
@import "./components/title";
@import "./components/btn";
@import "./components/bottom-text";
@import "./components/socials";
@import "./components/modal";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/prices";
@import "./layout/benefits";
@import "./layout/masters";
@import "./layout/gallery";
@import "./layout/contact-wrap";
@import "./layout/online";
@import "./layout/contacts";
@import "./layout/footer";
