.about {
  padding-top: 169px;
  padding-bottom: 121px;
  .container {
    display: flex;
  }
}

.pic-list {
  display: flex;
  margin-right: 64px;
}

.pic-list__item + .pic-list__item {
  margin-left: 30px;
}

// .pic-list__item {
//   & + & {
//     margin-left: 30px;
//   }
// }

.about-content__top-text {
  margin-bottom: var(--typical-margin);
}
.about-content__title {
  margin-bottom: var(--typical-margin);
}

.about-content__bottom-text {
  margin-bottom: var(--typical-margin);
  color: #555555;
}
.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-content__btn {
  color: var(--second-btn-color);
}
