.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-item + .contacts-item {
  margin-top: var(--typical-margin);
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: var(--typical-margin);
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
