.masters {
  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.masters__top-text {
  margin-bottom: var(--typical-margin);
}

.masters__title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.card-list {
  // display: flex;
  // flex-wrap: wrap;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

/* .masters-item:not(:last-child) {
  margin-right: 30px;
} */

.card-list__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
  }
}

.card-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.card-list__top-text {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(255, 106, 0, 0.604);
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 300ms linear;
  .card-list__item:hover & {
    transform: translateY(0);
  }
}

.card-list__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  margin-top: 30px;
}

.card-list__item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
