.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 30px;
}
