.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mobile {
    width: 448px;
  }
  @include tablet {
    width: 720px;
  }
  @include desktop {
    width: 1200px;
  }
}
