.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.476);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  width: 500px;
  min-height: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms;
  padding: 40px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
  }
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  @extend %align-list;
  justify-content: center;
  padding: 0;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;

  padding-left: 30px;
  color: teal;
  outline: none;
  &:focus {
    border-color: var(--accent-color);
  }
  &:not(:placeholder-shown):not(:focus):valid {
    background-color: rgba(0, 128, 0, 0.255);
  }
  &:not(:placeholder-shown):not(:focus):invalid {
    background-color: rgba(255, 0, 0, 0.266);
  }
  &::placeholder {
    color: #303030;
    font-size: 12px;
  }
}

/* .modal-input:not(:placeholder-shown) {
  border-color: #714eef;
} */

.modal-label {
  font-size: 12px;
  color: #9da4bd;
  margin-bottom: 5px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
}

.check-text {
  color: #555555;
  font-size: 14px;
  @extend %align-list;
  position: relative;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #090b13;
    border-radius: 3px;
    margin-right: 5px;
    .modal-check:checked + & {
      background-color: var(--accent-color);
      background-image: url(../img/check.svg);
      border: none;
      background-repeat: no-repeat;
      background-position: center;
    }
    .modal-check:focus + & {
      border-color: var(--accent-color);
    }
  }
}

/* ------------------Перекключатель---------------------------- */

/* .check-text::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #999999;
  border-radius: 50px;
  margin-right: 5px;
  transition: background-color 300ms linear;
}

.modal-check:checked + .check-text::before {
  background-color: #c4eecd;
}

.check-text::after {
  content: "";
  position: absolute;
  left: 10px;
  width: 8px;
  height: 30px;
  border-radius: 50px;
  background-color: #b5b7bf;
  left: 11px;
  transform: rotate(-45deg);
  transition: transform 300ms linear, background-color 300ms linear;
}

.modal-check:checked + .check-text::after {
  transform: rotate(45deg);
  background-color: #ffffff;
  border: 1px solid #999999;
} */

/* ---------------------Повзунок----------------------------- */

/* .check-text::before {
  content: "";
  width: 40px;
  height: 10px;
  border: 1px solid #999999;
  border-radius: 50px;
  margin-right: 5px;
  transition: background-color 300ms linear;
}

.check-text::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #b5b7bf;
  left: 3px;
  transition: transform 300ms linear, background-color 300ms linear;
}

.modal-check:checked + .check-text::after {
  transform: translate(16px);
  background-color: #ffffff;
  border: 1px solid #999999;
}

.modal-check:checked + .check-text::before {
  background-color: #c4eecd;
} */

/* -----------------Через спрайт----------------------- */

/* .check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #090b13;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
} */

/* --------------Через Бефор-------------------------- */
