.top-text {
  @include font(11px, 600, 1.91, 0.1em);
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    @include font(null, null, 1.36, null);
  }
  @extend %align-list;
  &--light {
    color: rgba(157, 164, 189, 0.6);
  }

  &--dark {
    color: #303030;
  }

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 21px;
    flex-shrink: 0;
  }
}
