:root {
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
  --typical-margin: 20px;
}

$main-btn-color: #ffffff;
$second-btn-color: #303030;
$main-title-color: #ffffff;
$second-title-color: #303030;
$accent-color: #ff6c00;
$typical-margin: 20px;
